{% extends 'base.html' %}

{% block content %}

<nav class="navbar bg-light">
    <form class="container-fluid">
        <a class="navbar-brand">{{nama}}</a>
      <button class="btn btn-outline-danger" type="button"><a href="{% url 'wishlist:logout' %}" style="text-decoration:none; color:inherit;">Logout</a></button>
    </form>
</nav>

<table class="table" style="padding: 20px;">
    <thead>
    <tr>
    <th scope="col">Nama Barang</th>
    <th scope="col">Harga Barang</th>
    <th scope="col">Deskripsi</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <td scope="row">{{barang.nama_barang}}</td>
        <td scope="row"> {{barang.harga_barang}}</td>
        <td scope="row">{{barang.deskripsi}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navbar">
    <a style="padding: 20px;" >Sesi terakhir login: {{ last_login }}</a>
</div>



{% endblock content %}